

/*---------------------------------------------- colors --*/

.ui-menu-color-home {
    background-color: #f3f1ed;
}

.ui-menu-color-book {
    background-color: #f3f1ed;
}

.bg-color-name-title {
     background-size: cover;
}

/*---------------------------------------------- media --*/

@media (max-width: 400px) {
    .col {
        position: fixed;
        top: 0;
        display: inline;
    }
    
}


/*---------------------------------------------- heading --*/
.logo-home {
    background: url("../assets/images/master.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
}

.logo-ammenities {
    background: url("../assets/images/lounge.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
}
    
.logo-local {
    background: url("../assets/images/villiage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;    
}

.logo-gallery {
    background: url("../assets/images/villiage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;    
}

.menucontainer {
    font-size: 0;
    color: black;
    margin-top: 0;
    padding-top: 0;
    
}    

.top-page {
    background-image: url("../assets/images/yorkshire2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    position: relative;
    text-align: center;
    height: 240px;
    opacity: 20;
    padding-top: 50px;
}

.menuitem {
    min-height: 40px;
    width: 20%;
    color: black;
    font-size: small;
    border: 0;
    margin: 0;
    height: 120px;
    text-align: center;
    padding: 0;
}

.fa {
    color: black;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: black;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: black;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
    padding: 0;
    border: 0;
}

#nav {
    margin: 0;
    padding: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.price {
    border-radius: 50%;
    background-color: red;
    text-align: center;
    color: white;
    border-color: black;
    max-height: 100px;
    float: right;
    position: fixed;
    z-index: +1000;
}

/*---------------------------------------------- sections home --*/


.booking-form {
    background-color: #f3f1ed;
    padding: 25px;
}

.home-container:not(:last-child) {
    padding: 25px 25px 0px 25px;
    background-color: white;
}

.home-list {
    text-align: left;
}

.reviews {
    padding: 0px;
}

.blockquote {
    background-color: #f3f1ed;
    padding: 10px;
    font-size: 1em;
}


.navbar-list {
    display: inline;
}

.photo-container {
    padding: 0;
}

ul {
  list-style-type: none;
}

.thumbnail {
    height: 30%;
}

/*---------------------------------------------- other pages --*/

.cosy-container {
    padding: 25px;
}

.cosy-list {
    padding: 0px 10px 5px 20px;
}

.cosy-list-box {
    background-color: #f3f1ed;
}

.whitton-container {
    padding: 10px 10px 10px 20px;
}

.dales-container {
    padding: 10px;
}

.gallery-container {
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 10px 5px 5px grey;
    
}

.sticky-RHS {
    position: sticky;
    top: 0;
}

.guide {
    max-height: 780px;
    overflow-y: scroll;
    float: right;
}

/*---------------------------------------------- footer --*/

footer {
    background-color: #f3f1ed;
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
