/*---------------------------------------------- colors --*/

.ui-menu-color-home {
    background-color: pink;
}

.ui-menu-color-book {
    background-color: red;
}

.heading {
    background-color: green; 
}

/*---------------------------------------------- heading --*/


.logo {
    background: url("../images/master.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
}

.menucontainer {
    border: 0;
    margin: 0;
    padding: 0;
}


.heading {
    position: relative;
    text-align: center;
    border: solid;
    height: 240px;
}

.menuitem {
    min-height: 80px;
    width: 19%;
    border-radius: 10%;
    color: #fff;
    font-size: small;
    border: 0;
    margin: 0;
    
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

.list-inline-item {
    border: 0;
    margin: 0;
    padding: 0;
}

.list-inline {
    border: 0;
    margin: 0;
    padding: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}